.pro-container{
    width: 100vw;
    overflow: hidden;
}
.pro-box{
    display: grid;
    grid-area: auto;
    grid-template-columns: 500px 500px;
    column-gap: 100px;
    cursor: pointer;
    
}
.pro-items{
    min-height: 350px;
    width: 500px;
    border: 2px solid rgb(5, 129, 17);   
    margin-top:70px;   
    margin-left: 30%; 
    display: flex;
    border-radius: 15px;
    position: relative;
    transition: .3s;
}
.pro-items:hover{
    transform: translateY(-5px);
     box-shadow: inset 2px 2px 15px rgb(5, 129, 17) ;
}
.item-text{
    display: flex;   
    flex-direction: column;
    text-align: center;     
    padding: 20px;
    flex: .8;
    font-size: 14px;
    font-weight: 500;
}
.item-dec{
    margin: 5px 0;
}
.item-title{
    margin: 0;
}
.item-img{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex: .6;
}
.pro-img{
    object-fit: contain;
    width: 200px;
    height: 280px; 
    border-radius: 10px;
    box-shadow:inset 1px 1px 10px;
    margin-right: 15px;
}
.pro-btn{
      height: 30px;
      width: 170px;
      outline: none;
      border: none;
      border-radius: 5px;
      font-size: larger;
      background-color: rgb(74, 74, 255);
      color: white;
      cursor: pointer;
      position: absolute;
      bottom: 10px;
      left: 50px;
      font-weight: bold;
}
.pro-head{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.pro-head>h1{
     width: fit-content;
    border-bottom: 3px solid rgb(5, 129, 17);
    padding-bottom: 2px;
}

@media screen and (max-width:768px) {
    .pro-box{
        display: flex;
        flex-direction: column;
        position:static; 
        justify-content: center;
        align-items: center;
        height: max-content;
    }
    .pro-items{
        width: 300px;
        position: relative;
        left: -15%;
    }
    .item-text{
    font-size: 12px;
}
.pro-btn{
      height: 25px;
      width: 90px;
      font-size: small;
      bottom: 7px;
      left: 50px;
}
.pro-img{
    object-fit: contain;
    width: 100px;
    height: 200px;
}
}
