.con-container{
    width: 100vw;   
    overflow:hidden;
}
.con-head{
    margin-top: 5rem;
    text-align:center;
} 
.contact-container{
    display: flex; 
    margin-top: 1rem;
}
.contact{
    flex: .5;
    position: relative      ;
    left: 15%;
}
.text-container{
    flex-direction: column;
    display: flex; 
    font-size: larger;
    
}
.con-text{
    display: flex;
    margin: 3rem 0;
}
.con-icon-list{
    display: flex;
    margin-top: 10px;
}
.con-icon{
    margin: 0 .5rem;
}
.con-text-heading{
    color: rgb(0, 138, 237);
}


.contact-message{
    flex: .5;
    position: relative;
}
.con-form{
    height:600px;
    width: 400px;
    position: absolute;
    left: 25%;
    top: 5%;
    background-color: rgb(53, 52, 51);
    border-radius: 20px;
}
.con-input{
        margin: 3rem auto;
        height: 4rem;
        width: 80%;
        display: flex;
        flex-direction: column;
}
.con-input label{
    font-size: 1.3rem;
    color:rgb(242,255,0);

}
.con-input input{
    height: 2rem;
    outline: none;
    font-size: large;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background:none;
    border-bottom: 2px solid white  ;
    color: white;
}
.con-input-message{
     margin: 3rem auto;
    display: flex;
      flex-direction: column;
      width: 80%;
       
    }
textarea{
        outline: none;
        font-size: large;
        padding-left: 10px;
        border-bottom: 2px solid white;
        color: rgb(255, 235, 54);
 background:none;

 width: 80%;
    
}
.con-btn{
    height: 2rem;
    background-color: rgb(242, 255, 0);
    width: 40%;
    border-radius: 10px;
    border: none;
    font-size: large;
    color: rgb(0, 0, 0);
    margin:  0 auto;
    font-weight: 800;
}