.con-container{
    width: 100vw;   
    overflow:hidden;
    height:100vh   ;
}
.con-head{
    margin-top: 5rem;
    display: flex;
    justify-content:center;
} 
.con-head>h1{
      width: fit-content;
    border-bottom: 3px solid rgb(5, 129, 17);
}
.contact-container{
    display: flex; 
    margin-top: 1rem;
}
.contact{
    flex: .5;
    position: relative      ;
    left: 15%;
}
.text-container{
    flex-direction: column;
    display: flex; 
    font-size: larger;
    
}
.con-text{
    display: flex;
    margin: 3rem 0;
    letter-spacing: 1px;
}
.con-text-heading{
    color:rgb(5, 129, 17);
    font-weight: 500;
}


.contact-message{
    flex: .5;
    position: relative;
}
.con-form{
    background-color: rgb(193, 203, 194);
    height:550px;
    width: 400px;
    position: absolute;
    left: 25%;
    top: 3%;
    border-radius: 10px;
}
.con-input{
        margin: 3rem auto;
        height: 4rem;
        width: 80%;
        display: flex;
        flex-direction: column;
}
.con-input label{
    font-size: 1.3rem;
    color:rgb(5, 129, 17);
    font-weight: 500;

}
.con-input input{
    height: 2rem;
    outline: none;
    font-size: large;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background:none;
    border-bottom: 2px solid rgb(5, 129, 17)  ;
    color: rgb(0, 0, 0);
}
.con-input-message{
     margin: 3rem auto;
    display: flex;
      flex-direction: column;
      width: 80%;
     
    }
textarea{
        outline: none;
        font-size: large;
        padding-left: 10px;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(5, 129, 17);
        background:none;

         width: 80%;
    
}
.con-btn{
    height: 2rem;
    background-color: rgb(5, 129, 17);
    width: 40%;
    border-radius: 5px;
    border: none;
    font-size: large;
    color: rgb(255, 255, 255);
    margin:  0 auto;
    font-weight: 600;
}
.con-mail{
    color: black;
}

@media screen and (max-width : 768px) {
    .contact-container{
    display: flex; 
    flex-direction: column;
}
.con-form{
    background-color: rgb(193, 203, 194);
    height:400px;
    width: 300px;
    position: absolute;
    left: 15%;
    border-radius: 10px;
    top: -10px;
}
.con-text{
    display: flex;
    margin: 1.5rem 0;
    letter-spacing: 1px;
}
}